arrow==1.4.0
asgiref==3.11.1
Django==6.0.5
django-axes==8.3.1
django-tailwind==4.4.2
gunicorn==26.0.0
openpyxl==3.1.5
packaging==26.2
pillow==12.2.0
python-dateutil==3.9.0.post0
python-slugify==8.0.4
sqlparse==0.5.5
tzdata==2026.2
